* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Mont';
}

.container {
    max-width: 1500px;
    padding: 0 90px;
    margin: 0 auto;
    height: 100%;
}
