.main-button {
    width: 327px;
    height: 50px;
    border: none;
    background-image: linear-gradient(90deg, #5E3928, #E4A16F);
    background-size: 100% 200%;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
        background-position: left;
        background-size: 200% 100%;
        transition: 0.2s ease-in-out;
        color: $first-accent;
    }
}
